.idea/.name
.idea/CDN-in-a-Box.iml
.idea/encodings.xml
.idea/libraries/Google_App_Engine_SDK.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
mirror.pyc